<div class="row">
    <br>
    <h4>City district:</h4>

<button type="button" id="slide_renting_button" value="1" class="btn raised-link">Krzyki</button>
<button type="button" id="slide_selling_button" value="2" class="btn raised-link">Srodmiescie</button>
<button type="button" id="slide_selling_button" value="3" class="btn raised-link">Psie Pole</button>
<button type="button" id="slide_selling_button" value="4" class="btn raised-link">Nowy Dwor</button>
<button type="button" id="slide_selling_button" value="5" class="btn raised-link">Stare Miasto</button>
<button type="button" id="slide_selling_button" value="5" class="btn raised-link">CUSTOM</button>


</div>
