<div class="row">
<br>
<h4>Number of rooms:</h4>




<button type="button" id="slide_renting_button" value="1" class="btn raised-accent">1 pokoj</button>
<button type="button" id="slide_selling_button" value="2" class="btn raised-link">2 pokoje</button>
<button type="button" id="slide_selling_button" value="3" class="btn raised-link">3 pokoje</button>
<button type="button" id="slide_selling_button" value="4" class="btn raised-link">4 pokoje</button>
<button type="button" id="slide_selling_button" value="5" class="btn raised-link">5 pokoji</button>


</div>
